<div class="card-panel ">
    <div class="row" >
        <span class="col s6 center-align">
            <label>
                <input type="checkbox" class="filled-in blue"/>
                <span>MEN</span>
            </label>
            <label>
                <input type="checkbox" class="filled-in"/>
                <span>WOMEN</span>
            </label>
            <label>
                <input type="checkbox" class="filled-in"/>
                <span>CHILDREN</span>
            </label>
        </span>
        <span class="col s6 right-align">
            <button class="btn blue darken-1">SEE ALL PRODUCTS</button>
        </span>
    </div>
</div>
<div class="col">
        <p>SORT BY</p> <!-- here is the dropdown list -->
    </div>